doctype html
html.no-js
  head
    meta(charset='utf-8')
    title sheepFront
    meta(name='description', content='')
    block layout-head
      meta(name='viewport', content='width=device-width')
      // Place favicon.ico and apple-touch-icon.png in the root directory
      link(rel='stylesheet', href='http://static2.mgbeta.ru/nata/sheeps/'+'styles/vendor-2183d05f.css')
      link(rel='stylesheet', href='http://static2.mgbeta.ru/nata/sheeps/'+'styles/app-25baf880.css')
  body
    //if lt IE 10
      p.browsehappy
        | You are using an 
        strong outdated
        |  browser. Please 
        a(href='http://browsehappy.com/') upgrade your browser
        |  to improve your experience.
    block layout-body
      div(ng-app='sheepFront')
        div(ui-view='')
    // Google Analytics: change UA-XXXXX-X to be your site's ID.
    script.
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    block layout-foot
      script(src='http://static2.mgbeta.ru/nata/sheeps/'+'scripts/vendor-49141e7a.js')
      script(src='http://static2.mgbeta.ru/nata/sheeps/'+'scripts/app-258cd4ee.js')
