<div class="col-md-4">
<form action="/user/create" method="POST">

  <h2>Регистация:</h2>

  <% if(flash && flash.err){%>
  <ul class="alert alert-success">
    <% Object.keys(flash.err).forEach(function(error){ %>
    <li><%- JSON.stringify(flash.err[error].error) %></li>
    <% }) %>
  </ul>
    <% } %>

  <div class="control-group">
    <input type="text" class="form-control" name="username" placeholder="name">
  </div>

  <div class="control-group">
    <input type="text" class="form-control" name="fullname" placeholder="fullname">
  </div>

  <!--<div class="control-group">
    <input type="password" class="form-control" name="password" id="password">
  </div>

  <div class="control-group">
    <input type="password" class="form-control" name="confirmation" id="confirmation">
  </div>-->

  <input type="submit" class="btn btn-success btn-lg" value="Зарегистрироваться" />
  <!--<input type="hidden" name="_csrf" value="<%= _csrf %>" />-->


</form>
</div>
